* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

/* variables */
:root {
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;

  --secondary-color1: #ee9972;
  --secondary-color1: #fbdabb;

  --highlight-color1: #edefee;
  --highlight-color2: #333333;

  --alert-color: #ff0000;
}
